@import 'null.scss';
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
body {
   font-size: 18px;
   font-family: 'Space Grotesk', sans-serif;
   font-weight: 500;
}

.wrapper {
   display: flex;
   justify-content: space-between;
   height: 100vh;
   width: 100%;
   background: #f2f2f2;
   align-items: center;
   position: relative;
   &::before {
      content:'';
      position: absolute;
      top: 0;
      left: 0;
      width: 33%;
      height: 100%;
      background: url('../img/bg-main-desktop.png') 0 0 / 100% 100% no-repeat;
   }
}
.card {
   width: 541px;
   z-index: 1;
   margin-left: 164px;
		// .card__front
		&__front {
         width: 447px;
         height: 245px;
         background: url('../img/card-logo.svg') 32px 28px / 84px 47px no-repeat, url('../img/bg-card-front.png') no-repeat;
         margin-bottom: 37px;
      }
         // .card__content
      &__content {
         color: #fff;
         padding: 150px 32px 0;
      }
      // .card__number
      &__number {
         font-size: 28px;
         letter-spacing: 3.42222px;
      }
      // .card__bottom
      &__bottom {
         padding-top: 25px;
         display: flex;
         justify-content: space-between;
         font-size: 14px;
         letter-spacing: 2px;
      }
      // .card__name
      &__name {
         text-transform: uppercase;
      }
      // .card__date
      &__date {
         display: flex;
      }
         // .card__back
		&__back {
         width: 447px;
         height: 245px;
         margin-left: auto;
         background: url('../img/bg-card-back.png');
         font-size: 14px;
         color: #fff;
         display: flex;
         align-items: center;
         justify-content: right;
         padding: 0 50px 0 0;
      }
}
.info {
		// .info__form
		&__form {
         margin-right: 227px;
      }
      &__message {
         position: absolute;
         bottom: -17px;
         left: 0;
         // padding-top: 8px;
         font-size: 12px;
         color: #FF5050;
      }
      &__name-block {
         margin-bottom: 26px;

      }
		// .info__name-title
		&__name-title {
         position: relative;
      }
		// .info__name
		&__name {
         // margin-bottom: 26px;
         width: 100%;
      }
      &__number-block {
         margin-bottom: 26px;
      }
		// .info__number-title
		&__number-title {
   
      }
		// .info__number
		&__number {
         // margin-bottom: 26px;
         width: 100%;
      }
		// .info__date-cvc
		&__date-cvc {
         display: flex;
         margin-bottom: 40px;
         justify-content: space-between;
      }
		// .info__date-block
		&__date-block {
         display: flex;
         margin-right: 20px;
         flex-direction: column;
      }
		// .info__date-title
		&__date-title {
         
      }
      // .info__date
      &__date {
         display: flex;
      }
		// .info__month
		&__month {
         margin-right: 10px;
         width: 80px;
      }
		// .info__year
		&__year {
         width: 80px;
      }
		// .info__cvc-block
		&__cvc-block {
         display: flex;
         flex-direction: column;
      }
		// .info__cvc-title
		&__cvc-title {
         
      }
		// .info__cvc
		&__cvc {
         width: 191px;
      }
		// .info__btn
		// &__btn {
      //    width: 100%;
      //    height: 53px;
      //    border-radius: 8px;
      //    color: #fff;
      //    background: #21092F;
      //    font-size: 18px;

      //    // box-shadow: 0px 4px 4px 0px #00000040;
      //    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      // }
      .input {
         height: 45px;
         border-radius: 8px;
         padding: 0 15px;
         &:focus {
            border: 1px solid hsl(249, 99%, 64%);
         }
      }
      .block {
         position: relative;
      }
}
.btn {
   width: 100%;
   height: 53px;
   border-radius: 8px;
   color: #fff;
   background: #21092F;
   font-size: 18px;

   // box-shadow: 0px 4px 4px 0px #00000040;
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.error {
   border: 1px solid hsl(0, 100%, 66%);
}
.title {
   color: #21092F;
   font-size: 12px;
   line-height: 15px;
   letter-spacing: 2px;
   text-transform: uppercase;
   margin-bottom: 9px;
   position: relative;
   
}



.thank {
   display: none;
   flex-direction: column;
   margin-right: 227px;
   align-items: center;
   // .thank__icon
   &__icon {
      width: 80px;
      height: 80px;
      margin-bottom: 35px;
   }
   // .thank__title
   &__title {
      margin-bottom: 16px;
      font-weight: 500;
      font-size: 28px;
      letter-spacing: 3.42222px;
      color: #21092F;
   }
   // .thank__text
   &__text {
      margin-bottom: 50px;
      font-weight: 500;
      font-size: 18px;
      color: #8F8694;
   }
   // .thank__bnt
   &__bnt {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
   }
}


@media (max-width: 767px) {

   .wrapper {
      padding: 0 20px;
      flex-direction: column;
      justify-content: flex-start;
      &::before {
         width: 100%;
         height: 260px;
      }
   }  

   .card {
      // padding: 0 100px;
      margin: 0;
      width: auto;
      &__front {
         margin: 150px 0 0 0;
         position: relative;
         z-index: 2;
         width: 312px;
         height: 171px;
         // background: url('../img/card-logo.svg') 32px 28px / 84px 47px no-repeat, url('../img/bg-card-front.png') no-repeat;
         background-position: 16px 11px, 0% 0%;
         background-size: 50px 28px, cover;
         
      }
      &__content {
         padding: 100px 18px 0;
      }
      &__number {
         font-size: 18px;
      }
      &__bottom {
         padding-top: 18px;
      }
      &__back {
         margin-top: -280px;
         margin-left: 60px;
         width: 312px;
         height: 171px;
         background-size: cover;
      }
   }
   .info {
      margin-top: 140px;
      &__form {
         margin: 0;
      }
      
   }
   .thank {
      margin: 150px 0 0 0;
   }

}